# Environments
.venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
backend/resume_screening.db
backend/backend_output.log

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor/System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Specific
test_data/
vite.config.js.timestamp-*
